@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #121212;
}

@theme inline {
  --color-fluorescent-adolescent: #3975cf;
  --color-off-white: #fafcfe;
  --color-eerie-black: #121212;
  --color-gs-100: #dcdddd;
  --color-gs-200: #bfc0c0;
  --color-gs-300: #858686;
  --color-gs-400: #4c4c4c;
  --color-gs-500: #2f2f2f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #f8f9fa;
  }
}

* {
  font-family: var(--bricolage);
  margin: 0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--bricolage);
}

* {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: rgba(255, 255, 255, 0.15) transparent;
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 999px;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.25);
}
